@import './variables';
@import '../components/hero/hero.scss';

.page-not-found {
    height: 100vh;
    background: linear-gradient(135deg, rgba(0, 0, 142, 0.7) 0%, rgba(1, 114, 128, 0.7) 100%);
    .container-fluid {
        position: relative;
        .watermark {
            position: absolute;
            top: -45%;
            left: 50%;
            transform: translateX(-50%);
            color: #FFFFFF30;
            font-size: 18.75rem; //300px
            line-height: 18.75rem; //300px
            font-weight: 700;
            white-space: nowrap;
            user-select: none;
    
        }
        .input-group {
            .form-control {
                &::placeholder {
                    color: $color_title;
                    font-weight: 600;
                    font-size: 1.125rem; //18px
                }
            }
            &-text {
                background-color: $color_primary-dark;
                border-color: $color_primary-dark;
            }
        }
    }
    
}