$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Rubik', sans-serif;

$color-body: rgba(56, 41, 51, 1);
$color_primary: #0F0FB1;
$color_title: rgba(25, 69, 107, 1);
// $bg-gradient: linear-gradient(135deg, rgba(0, 0, 142, 0.8) 0%, rgba(1, 114, 128, 0.8) 100%);