// @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './variables';

@import '../components/hero/hero.scss';
@import '../components/page-title-hover/page-title-hover.scss';
@import '../components/section-about/section-about.scss';
@import '../components/mini-card/mini-card.scss';

.steps {
    &-row {
        .step {
            font-size: 1.75rem; //28px
            &-icon {
                position: relative;
                width: 12.8125rem; //205px
                height: 12.8125rem; //205px
                border-radius: 50%;
                box-shadow: 0px 2px 25px rgba(0, 0, 142, 0.152619);
                &-num {
                    width: 3.125rem; //50px
                    height: 3.125rem; //50px
                    font-size: 1.375rem;//22px
                    font-weight: 800;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: $color-primary-dark;
                    color: white;
                    border-radius: 50%;
                }
            }

            &.primary {
                margin-top: 3rem;
                .step-icon {
                    &-num {
                        background-color: $color-secondary;
                    }
                }
            }

        }
    }
}

.about-small {
    svg {
        margin-right: .5rem;
    }
    .img-container {
        width: 100%;
        min-height: 37.8125rem; //605px
        background: url('../images/cats/blue-cat-4.jpg') no-repeat center;
        background-size: cover;
    }
}

.about {
    &-row {
        .achievements-row {
            left: -50%;
            .achievement {
                &-title {
                    font-size: 1.0625rem; //17px
                    font-family: $font-secondary;
                    font-weight: 400;
                    color: rgba(56, 41, 51, 1);

                }
                &-details {
                    font-size: 1.125rem; //18px
                    font-weight: 800;
                    color: rgba(25, 69, 107, 1);
                }
            }
        }
    }
}

.section-progress {
    .img-container {
        width: 100%;
        min-height: 37.8125rem; //605px
        background: url('../images/cats/blue-cat-3.jpg') no-repeat center;
        background-size: cover;
    }

    .progress-bars {
        .progress--bar {
            &-icon {
                position: relative;
                width: max-content;

                .circle {
                    position: absolute;
                    font-size: 1.375rem; //22px
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 9.1875rem; //147px
                    height: 9.1875rem; //147px
                    border-radius: 50%;
                }
            }
        }
    }
}

