@import './variables';
@import '../components/hero/hero.scss';
@import '../components/mini-card/mini-card.scss';
@import '../components/form-big/form-big.scss';


.header2 {
    .header-top {
        background-color: $color_primary-dark;
    }

    .header-bottom {
        .mobile-menu {
            .bars {
                transform: unset;
                background-color: $color-title;
                box-shadow: 0 10px 0 $color-title, 0 -10px 0 $color-title;
            }
        }
    }
}

.services {
    .tabs-row {
        position: relative;
        transform: translateY(-50%);
        box-shadow: 0px 2px 25px rgba(0, 0, 142, 0.152619);

        .tab-col {
            &:not(:last-child){
                .tab-inner {
                    border-right: 1px solid #E1E1E1;
                }
            }
        }

        .tab {
            cursor: pointer;
            min-height: 12.375rem;//198px
            background-color: white;
            transition: all .3s ease-in-out;
            h5 {
                font-size: 1.375rem; //22px
            }
            .white-svg {
                display: none;
            }
            .colored-svg {
                display: block;
            }
            &.active {
                color: white;
                background: linear-gradient(135deg, #00008E 0%, #017280 100%);
                .tab-inner {
                    border-right: none;
                    h5 {
                        color: inherit;
                    }
                    .colored-svg {
                        display: none;
                    }
                    .white-svg {
                        display: block;
                    }
    
                }
            }
        }
    }

    .contents-row {
        .tab-content {
            &-img {
                min-height: 37.8125rem;// 605px
            }
            &:first-child {
                .tab-content-img {
                    background: url('../images/cats/blue-cat-1.jpg') no-repeat center;
                    background-size: cover;
                }
            }
            &:nth-child(2) {
                .tab-content-img {
                    background: url('../images/cats/blue-cat-2.jpg') no-repeat center;
                    background-size: cover;
                }
            }
            &:nth-child(3) {
                .tab-content-img {
                    background: url('../images/cats/blue-cat-3.jpg') no-repeat center;
                    background-size: cover;
                }
            }

            &-contacts {
                transform: translateX(-5rem);
            }
        }

        
    }
}

.banner {
    padding: 17.5rem 0;
    background: linear-gradient(135deg, rgba(0, 0, 142, 0.6) 0%, rgba(1, 114, 128, 0.6) 100%);
    .counter-title-plus {
        font-size: 3rem; //48px
        span{
            font-size: 4.875rem; //78px
            font-weight: 800;
        }
    }

    .counter-title-text {
        font-size: 3.625rem; //58px
        span {
            font-size: 4.875rem; //78px
            font-weight: 800;
        }
    }
}
 
.quote-form {
    .form-container {
        box-shadow: 0px 2px 25px rgba(0, 0, 142, 0.152619);
        transform: translateY(-6rem);
        &::before {
            position: absolute;
            content: 'Request a quote';
            text-align: center;
            display: block;
            width: 17.5rem;//280px
            padding: 0.5rem 0;
            background: $color_highlight;
            color: $color-title;
            font-weight: 600;
            font-size: 18px;
            top: 0;
            left: 0;
            transform: translateY(-100%);
        }
    }
}