@import './variables';
@import '../components/hero/hero.scss';
@import '../components/page-title-hover/page-title-hover.scss';

.sort {
    &-btns {
        button {
            color: $color_title;
            font-weight: 600;
            &:focus {
                box-shadow: none;
            }
        }
    }
    &-content {
        .sort-item {
            &>div {
                width: 100%;
                min-height: 405px;
            }
            .road {
                background: url('../images/cats/road.jpeg') center;
                .sort-item-label {
                    h5 {
                        font-size: 1.375rem; //22px
                    }
                    background-color: $color_primary-dark;
                    max-width: 19.6875rem; //315px
                }
            }
            .air {
                background: url('../images/cats/air.jpeg') center;
            }
            .train {
                background: url('../images/cats/train.jpeg') center;
            }
            .shipping {
                background: url('../images/cats/shipping.jpeg') center;
            }
        }
    
    }
}