@import './variables';
@import '../components/hero/hero.scss';
@import '../components/page-title-hover/page-title-hover.scss';
@import '../components/price-cards/price-cards.scss';
@import '../components/box-title/box-title.scss';

.single-service-details {
    .main-details {
        .check-list {
            h5 {
                font-size: 1.375rem; //22px
            }
            img {
                margin-right: .5rem;
            }
        }
        .truck-card {
            p {
                color: $color_primary-dark;
                font-family: $font-secondary;
                font-weight: 500;
            }
        }
    }
}
