@import '../node_modules/bootstrap/scss/bootstrap.scss';
// @import '../node_modules/@splidejs/splide/dist/css/splide-core.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800&display=swap');


@import './variables';
@import './base';


.header {
    z-index: 1;
    font-size: 1.375rem;
    a,
    a:hover {
        color: inherit;
    }

    &-bottom {
        .nav {
            &-item {
                position: relative;
                &::after {
                    content: '';
                    display: block;
                    width: 0%;
                    height: 7px;
                    background-color: $color_highlight;
                    position: absolute;
                    bottom: 0;
                    left: 100%;
                    transition: all .2s ease-in-out;
                    transform: translate(-50%, 50%);
                }
        
                &:hover, &.current-page {
                    &::after {
                        width: calc(100% - 2rem);
                        left: 50%;
                    }
                }
        
                &.dropdown {
                    &:hover {
                        .dropdown-menu {
                            display: block;
                            margin-top: 1.5rem;
                            &::before {
                                content: '';
                                display: block;
                                background-color: transparent;
                                width: 100%;
                                height: 2rem;
                                position: absolute;
                                top: 0;
                                transform: translateY(-100%);
                            }
                        }
                    }
        
                }
        
                .nav-link {
                    padding-bottom: 1rem;
                    font-weight: 500;
                    text-transform: capitalize;
                    &.dropdown-toggle::after {
                        display: none;
                    }
                }
            }
        }

        .header-phone {
            font-weight: 700;
        }
    }

    

}

.footer {
    background: linear-gradient(135deg, #00008E 0%, #017280 100%);

    &-top {
        .social {
            &-icon {
                width: 4rem;
                height: 4rem;
            }
        }

        .footer-nav {
            font-size: 1.125rem;
            font-weight: 500;
            li {
                display: flex;
                align-items: center;
                transition: all .3s ease-in-out;
                &:not(first-child) {
                    margin-bottom: 1.3rem;
                }
                &:hover {
                    transform: translateY(.5rem);
                }
                &::before {
                        content: '';
                        margin-right: .5rem;
                        display: inline-block;
                        border-left: 4px solid white;
                        border-top: 4px solid transparent;
                        border-bottom: 4px solid transparent;
                }
            }
        }

        .input-group {
            .form-control {
                background: rgba(255, 255, 255, 0.1);
                font-family: $font-secondary;
                padding-top: .9rem;
                padding-bottom: .9rem;
                color: inherit;
                &::placeholder {
                    color: inherit;
                }
            }

            &-text {
                background-color: $color_primary;
                border-color: $color_primary;
                padding-left: .9rem;
                padding-right: .9rem;
            }

        }
    }

    &-bottom {
        .footer-contacts {
            &:not(:nth-child(2)) {
                background-color: rgba(255, 255, 255, 0.1);
            }
            &:nth-child(2) {
                background-color: rgba(255, 255, 255, 0.2);
            }

            .contact {
                &-details {
                    font-size: 1.125rem; //18px

                }
            }
        }
    }
}

form {
    .form-control,
    .form-select,
    .form-check-input {
        border-radius: 0 !important;
    }
    .form-control {
        &::placeholder {
            color: $color-body;
        }

        &:focus {
            &::placeholder {
                color: transparent;
            }
        }
    }

    textarea {
        resize: none;
        min-height: 9.0625rem; //145px
    }
}
