@import './variables';
@import '../components/hero/hero.scss';
@import '../components/page-title-hover/page-title-hover.scss';
@import '../components/box-title/box-title.scss';
@import '../components/img-caption-card/img-caption-card.scss';

.services {
    .splide {
        &__arrows {
            display: none;
        }
    
        &__pagination {
            &__page {
                background: $color_primary;
                width: 20px;
                height: 5px;
                margin: .5rem;
                border-radius: 2.5px;
                opacity: 1;
                &.is-active {
                    background: $color_primary;
                    margin: 1rem;
                    transform: scaleX(2);
                }
            }
        }
    }

}