.mini-card {
    box-shadow: 0px 2px 15px rgba(0, 0, 142, 0.100262);
    // min-width: 22.5rem; //360px
    &-icon {
        min-width: 7.375rem; //122px
        min-height: 7.375rem;
        &.primary {
            background-color: $color-primary;
        }
        &.secondary {
            background-color: $color-secondary;
        }
    }
}