.box-title {
    box-shadow: 0px 2px 15px rgba(0, 0, 142, 0.100262);
    .icon {
        min-width: 4rem; //64px
        min-height: 4rem; //64px
        &.primary {
            background-color: $color_primary-dark;
        }
        &.secondary {
            background-color: $color_secondary;
        }
    }
}