mixin boxTitle(text,icon,color)
    .box-title.d-flex.align-items-center.justify-content-between.ps-3
        h5.page-title.mb-0= text 
        .icon.d-flex.justify-content-center.align-items-center(class= color)
            img(src=`./images/svgs/${icon}.svg`) 
        