.img-caption-card {
    figure {
        position: relative;
        figcaption {
            background-color: $color-primary;
            min-width: 4.375rem; //70px
            min-height: 4.375rem; //70px
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}