
mixin heroContent(pageName)
    - const heroTitle = {home1: 'Transportation services around the World',home23: 'Deliver Packages in any Way'}
        if pageName
            .container.p-5 
                .row.ps-3.py-5 
                    .col-10
                        if pageName === 'home'
                            h1= heroTitle.home1
                            .watermark Unbelievable Digital 
                        else if pageName === 'home23'
                            h1= heroTitle.home23
                    .col-7
                        p.text-regular.py-4 Curabitur congue finibus lorem, at dignissim metus elementum sit amet. Mauris eget dapibus quam. Integer a ante rutrum, semper risus a, blandit elit. Nunc dolor purus, condimentum ut lorem in, tincidunt consequat erat.
                        button.btn.btn-primary.btn-arrow.px-5 Consultation
