extend template.pug
include ../components/hero/hero
include ../components/page-title-hover/page-title-hover
include ../components/section-about/section-about

block head 
    link(rel="stylesheet", href="./css/about.css")
    title About

block content
    +hero()

    +pageTitleHover('About', [
        {title:'Home', link: './index.html'},
        {title:'About', link: './about.html'}
    ])
    
    - 
        const achievements = [
            {
                icon: 'address',
                title: 'Address',
                details: '4621 Hill Croft Farm Road'
            },
            {
                icon:'phone-call',
                title: 'Phone',
                details: ['+8 (495) 989 20 11', '+8 (495) 969 60 12']
            }
        ]

    +sectionAbout('company', achievements)
