extend template.pug
include ../components/hero/hero
include ../components/page-title-hover/page-title-hover

block head 
    link(rel="stylesheet", href="./css/about.css")
    title About

block content
    +hero()

    +pageTitleHover('About', [
        {title:'Home', link: './index.html'},
        {title:'About', link: './about.html'}
    ])
    .container 
        //- +gallery()
        //-     h1