extend template.pug
include ../components/hero/hero
include ../components/page-title-hover/page-title-hover

block head 
    link(rel="stylesheet", href="./css/calculator.css")
    title Calculator

block content
    +hero()


    +pageTitleHover('Calculator', [
        {title:'Home', link: './index.html'},
        {title:'Services', link: './services.html'},
        {title:'Calculator', link: './calculator.html'}
    ])