extend template.pug
include ../components/hero/hero
include ../components/page-title-hover/page-title-hover

block head 
    link(rel="stylesheet", href="./css/calculator.css")
    title Calculator

block content
    +hero()


    +pageTitleHover('Calculator', [
        {title:'Home', link: './index.html'},
        {title:'Services', link: './services.html'},
        {title:'Calculator', link: './calculator.html'}
    ])

    section.calculator 
        .container.px-5.pb-5 
            .row.justify-content-center 
                .col-12.text-center 
                    h2.page-title Calculation form
                    p.text-regular.py-4 Morbi at facilisis turpis. Donec pulvinar quam sed libero vehicula posuere.
                        br
                        |Fusce ligula ipsum, rhoncus non
            .row.justify-content-center
                .col-md-9.p-0
                    form(action="")
                        .row.g-3.mb-4
                            .col-md-4
                                label.form-label.text-small(for="truckload-type") Truckload type
                                select.form-select(id="truckload-type")
                                    option(value="1").selected Value 1
                                    option(value="2") Value 2
                                    option(value="3") Value 3
                                    option(value="4") Value 4
                            .col-md-4
                                label.form-label.text-small(for="service-type") Type of service
                                select.form-select(id="service-type")
                                    option(value="1").selected Value 1
                                    option(value="2") Value 2
                                    option(value="3") Value 3
                                    option(value="4") Value 4
                            .col-md-4
                                label.form-label.text-small(for="distance") Distance(km)
                                input.form-control.text-regular(type="text" id="distance" placeholder="1")

                        .row.g-3.mb-4
                            .col-md-3
                                label.form-label.text-small(for="weight") Weight
                                input.form-control.text-regular(type="text" id="weight" placeholder="1")
                            .col-md-3
                                label.form-label.text-small(for="height") Height
                                input.form-control.text-regular(type="text" id="height" placeholder="2")
                            .col-md-3
                                label.form-label.text-small(for="width") Width
                                input.form-control.text-regular(type="text" id="width" placeholder="3")
                            .col-md-3
                                label.form-label.text-small(for="lenght") Lenght
                                input.form-control.text-regular(type="text" id="lenght" placeholder="4")
                        .row
                            .col-12.text-center 
                                button.btn.btn-primary.centered.px-4.mt-4(type="submit") Appointment
            .row
                .col-12
                    .banner.p-5.my-5.text-white
                        h3.mb-0 Quality services
                        p.text-regular.pale.my-4 Aenean elementum justo et elit imperdiet tincidunt. Aliquam tristique
                            br
                            |nunc quis mollis pretium. Etiam ut viverra nisl. Nunc ac
                        button.btn.btn-primary.btn-arrow.px-5 Services
            
