extend template.pug
include ../components/hero/hero
include ../components/page-title-hover/page-title-hover
include ../components/google-map/google-map
include ../components/form-small/form-small
include ../components/mini-card/mini-card

block head 
    link(rel="stylesheet", href="./css/contacts.css")
    title Contacts

block content
    +hero()


    +pageTitleHover('Contacts', [
        {title:'Home', link: './index.html'},
        {title:'Contacts', link: './contacts.html'}
    ])

    section.map
        .container-fluid
            .row
                .col-12.p-0
                    +googleMap()

    section.contacts 
        .container-xl 
            .row.contacts-cards.justify-content-center
                .col-10.col-md-6.col-xl-4.pb-3.pb-xl-0
                    +miniCard('phone-call','secondary','Phones',['+8 (495) 989 20 11', '+8 (495) 969 60 12']) 
                .col-10.col-md-6.col-xl-4.pb-3.pb-xl-0 
                    +miniCard('address','primary','Address',['4621 Hill Croft Farm', 'Road']) 
                .col-10.col-md-6.col-xl-4
                    +miniCard('mail','secondary','Emails',['rolso@site.com', 'rolso@support.com']) 
    
    section.contacts-content.pb-5 
        .container-lg.py-5 
            .row.g-5.justify-content-center
                .col-sm-10.col-lg-7 
                    +formSmall()
                .col-sm-10.col-lg-5 
                    .banner.text-white.d-flex.flex-column.justify-content-end.align-items-start.py-5.px-4
                        h4.ms-3 Quality 
                            br
                            |services
                        button.btn.btn-primary.btn-arrow.px-5.m-3 Services 

