extend template.pug
include ../components/hero/hero
include ../components/page-title-hover/page-title-hover
include ../components/price-cards/price-cards

block head 
    link(rel="stylesheet", href="./css/prices.css")
    title Prices

block content
    +hero()


    +pageTitleHover('Prices', [
        {title:'Home', link: './index.html'},
        {title:'About Us', link: './about.html'},
        {title:'Prices', link: './prices.html'}
    ])

    section.plans   
        .container-lg.pb-5 
            +priceCards('vertical')

    section.plans-list 
        .container-lg.pb-5 
            .row.justify-content-center 
                .col-12.text-center 
                    h2.page-title The right price for you, 
                        br
                        |whoever you are
                    p.text-regular.py-4 Donec varius, nisi sed cursus varius, dolor dui vehicula enim, eu porttitor lacus metus vitae nibh. Etiam
                        br
                        |efficitur lorem et lorem ultricies mollis. Sed non bibendum orci. Cras non mi sagittis, vehicula erat ut,
                        br
                        |posuere orci
                    button.btn.btn-primary.btn-arrow.centered.px-5 Consultation
            +priceCards('horizontal')
            