extend template.pug
include ../components/hero/hero
include ../components/page-title-hover/page-title-hover

block head 
    link(rel="stylesheet", href="./css/projects.css")
    title Projects

block content
    +hero()


    +pageTitleHover('Projects', [
        {title:'Home', link: './index.html'},
        {title:'Services', link: './services.html'},
        {title:'Projects', link: './projects.html'}
    ])

    section.sort 
        .container-lg.py-5.pb-5 
            .row.pb-4    
                .col-12 
                    .sort-btns.d-flex.justify-content-center 
                        button.btn.mx-2.mx-sm-4(data-idx="all") All
                        button.btn.mx-2.mx-sm-4(data-idx="road") Road
                        button.btn.mx-2.mx-sm-4(data-idx="shipping") Shipping
                        button.btn.mx-2.mx-sm-4(data-idx="air") Air
                        button.btn.mx-2.mx-sm-4(data-idx="train") Train
            .row 
                .col-12 
                    .row.gy-4.sort-content.justify-content-center
                        .col-sm-6.col-lg-5.sort-item
                            .road.d-flex.justify-content-end.align-items-end
                                .sort-item-label.text-white.py-5.px-4 
                                    h5 Rolso transportation company
                                    p.text-regular.pale.mb-0 Nullam dui augue, bibendum in maximus vel, blandit 
                        .col-sm-6.col-lg-3.sort-item
                            .shipping
                        .col-sm-6.col-lg-4.sort-item
                            .air
                        .col-sm-6.col-lg-6.sort-item
                            .shipping
                        .col-sm-6.col-lg-3.sort-item
                            .air
                        .col-sm-6.col-lg-3.sort-item
                            .train
            .row.py-5
                .col-12.text-center 
                    button.btn.btn-primary.btn-arrow.centered.px-5 Appointment

                    
