extend template.pug
include ../components/hero/hero
include ../components/page-title-hover/page-title-hover
include ../components/form-big/form-big

block head 
    link(rel="stylesheet", href="./css/quote.css")
    title Quote

block content
    +hero()


    +pageTitleHover('Quote', [
        {title:'Home', link: './index.html'},
        {title:'About', link: './about.html'},
        {title:'Quote', link: './quote.html'}
    ])

    section.appointment 
        .container-lg 
            .row.justify-content-center
                .col-10.col-lg-9.p-0
                    +formBig()
            .row.text-white.gx-5.py-5.justify-content-center   
                .col-sm-10.col-lg-6.mb-4
                    .banner-services.p-5
                        h4.mb-4 Quality 
                            br
                            |services
                        button.btn.btn-primary.btn-arrow.px-5 Services
                .col-sm-10.col-lg-6
                    .banner-company.p-5
                        h4.mb-4 Rolso transportation 
                            br
                            |company
                        p.text-regular.pale Nullam dui augue, bibendum in maximus vel, blandit placerat ipsum. Praesent
