extend template.pug
include ../components/hero/hero
include ../components/page-title-hover/page-title-hover
include ../components/box-title/box-title
include ../components/img-caption-card/img-caption-card

block head 
    link(rel="stylesheet", href="./css/warehouse.css")
    link(rel="stylesheet", href="./css/splide.min.css")
    title Warehouse

block content
    +hero()


    +pageTitleHover('Warehouse', [
        {title:'Home', link: './index.html'},
        {title:'About Us', link: './about.html'},
        {title:'Warehouse', link: './warehouse.html'}
    ])

    section.warehouse-details 
        .container-lg.pb-5 
            .row.gx-5 
                .col-lg-8
                    .main-details
                        h2.page-title Inland Empire warehousing
                        p.adrress.fw-bold.mb-5 
                            img.me-2(src="images/svgs/map-signs.svg")
                            |10359 Nobel Court, Jurupa Valley, CA

                        img.img-fluid.w-100(src='images/cats/blue-cat-1.jpg')

                        .content.text-regular.py-4
                            p In hac habitasse platea dictumst. In rutrum tincidunt tincidunt. Maecenas finibus vitae est blandit tempus. Proin at dolor dignissim, sagittis leo eget, fermentum sem. Etiam a dapibus nisl. Mauris rhoncus vulputate ornare. Nullam venenatis cursus malesuada. Proin quis libero non lacus bibendum tempor et a ex.
                            p Cras non ultricies sapien, eu viverra elit. Vivamus at rutrum ex, in blandit nibh. Nullam sit amet rutrum lorem. Pellentesque elementum, urna a ullamcorper fermentum, felis quam iaculis orci, eu iaculis libero ligula varius nibh. Ut vel est ut nulla maximus iaculis vel ac ligula.
                            p Suspendisse potenti. Sed eget velit est. Aliquam ac est sed nisl blandit interdum non in dui. Fusce feugiat quam sit amet magna pretium, eu scelerisque felis ultrices. Curabitur posuere augue at tellus condimentum tempus. Praesent in blandit ex. Curabitur dignissim, ligula id tincidunt auctor, turpis massa dictum magna, sollicitudin sagittis est quam ac diam.
                        
                        .row  
                            .col-6 
                                img.img-fluid.w-100(src='images/cats/blue-cat-2.jpg')
                            .col-6 
                                img.img-fluid.w-100(src='images/cats/blue-cat-3.jpg')

                        .content.text-regular.py-4
                            p Morbi non metus vitae turpis condimentum suscipit. Morbi bibendum, ligula a commodo imperdiet, mauris justo pretium erat, at cursus risus nisi eget nisl. Mauris sit amet sem placerat, elementum enim non, faucibus lacus.
                            p Nam auctor risus ut libero interdum molestie. Aliquam rutrum finibus sollicitudin. Nam vel maximus felis. Fusce iaculis pharetra mi, ac vehicula velit. In hac habitasse platea dictumst. Quisque egestas libero vel efficitur cursus. Quisque vulputate aliquam facilisis. Vestibulum placerat bibendum facilisis.
                            .check-list 
                                p
                                    img.me-2(src=`images/svgs/check-circle-primary.svg`)
                                    |Ut rutrum enim quis feugiat maxi
                                p
                                    img.me-2(src=`images/svgs/check-circle-primary.svg`)
                                    |Cras nibh massa, tincidunt dignissim pell
                                p
                                    img.me-2(src=`images/svgs/check-circle-primary.svg`)
                                    |Aliquam volutpat nulla in
                            p Suspendisse tristique et elit eget iaculis. Proin interdum placerat mauris, ac consectetur orci sagittis ac. Aliquam malesuada facilisis fringilla. Fusce finibus, sem nec congue gravida, libero nunc convallis purus, a faucibus leo ligula ut sapien. Duis imperdiet eleifend posuere.


                .col-lg-4
                    .aside-details
                        .building-info 
                            +boxTitle('Building information', 'folder-open', 'primary')
                            .building-info-content.px-4.py-5
                                mixin infoBox(icon,title,text)
                                    .info-box.d-flex.pb-4 
                                        .icon.me-4 
                                            img(src=`images/svgs/${icon}.svg`)
                                        .content 
                                            p.page-title.mb-0= title
                                            p.text-small.mb-0= text
                                +infoBox('warehouse', '146, 900 sqft', 'Size' )
                                +infoBox('calendar-clock', '5 am - 10pm', 'Hours of opening' )
                                +infoBox('quality', 'A-Trap compliant', 'Security' )
                                +infoBox('celsius', 'Temperature range', 'Ambient' )

    section.services
        .container-lg.py-5 
            .row.pb-5 
                .col-12.text-center 
                    h2.page-title Our best services 
            .row 
                .col-12 
                    .splide(data-idx="warehouse-services")     
                        .splide__track 
                            ul.splide__list 
                                li.splide__slide.mb-5
                                    .row.justify-content-center
                                        +imgCaptionCard('shipping')
                                        +imgCaptionCard('road')
                                        +imgCaptionCard('train')
                                li.splide__slide.mb-5
                                    .row.justify-content-center
                                        +imgCaptionCard('air')
                                        +imgCaptionCard('train')
                                        +imgCaptionCard('shipping')
                                li.splide__slide.mb-5
                                    .row.justify-content-center
                                        +imgCaptionCard('road')
                                        +imgCaptionCard('air')
                                        +imgCaptionCard('train')


